body{
    margin: 0;
    padding: 0;
    font-family: 'Lato', sans-serif;
    font-size: 1.5em;
    color: #3E3939;
    background-color: #f1ffee; 
}

.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.containerLogoPokemon{
    padding-left: 0;
}

.logoPokemon{
    height: 6.5rem;
    background-image: url(./img/logoPokemon.png);
    background-size: 80% 70%;
    background-repeat: no-repeat;
    background-position: center;
    display: flex;
}

.containerSearchPokemon{
    font-size: 22px;
}
.containerInput{
    width: 80%;
    height: 60%;
    box-sizing: border-box;
    padding: 0.5rem 0.5rem;
    margin: 0.3em 0rem 0.1em;
    background: #a2db95;
    border: 2px solid #f1ffee;
    border-radius: 5rem;
    padding-left: 1em;
}
.containerSearchNamePokemon{
    background: #a2db95;
    width: 50%;
    margin:0;
    margin-left: 3rem;
    padding-left: 0;
    border-radius: 1rem;
    position: absolute;
    cursor: pointer;
    z-index: 10;
}
.containerSearchNamePokemon li {
    border-right: none;
    padding-left: 1rem;
    border-bottom: 2px solid rgba(62, 57, 57, 0.384);
}
.iconAndInputSearch{
  display: flex;
}
.iconSearch{
    width: 40px;
    height: 40px;
    background: url(./img/iconSearch.png);
    background-size: 40px 38px;
    background-repeat: no-repeat;
    margin-top: 0.1em;
}
#toogleMenu{
    cursor: pointer;
    padding-top: 0.2rem;
}

.allPokemons{
    margin-left: 4rem;
    margin-right: 4rem;
    padding-left: 2rem;
    padding-right: 2rem;
    display: flex;
    flex: auto;
    flex-flow: row wrap;
    justify-content: space-around;
}
.pokemon{
  padding: 2rem 2rem;
  display: flex;
  justify-content: center;
  flex-direction: column;
  text-align: center;
  border-radius: 1rem;
  border: transparent;
  font-family: 'Lato', sans-serif;
  color: #3E3939;
  font-size: 1.5rem;
}
p{
  margin-top: 0;
  margin-bottom: 0;
}

.img1{
  height: 12rem;
  cursor: pointer;
  transition: all ease-in .3s;
}
.img1:hover {
  -webkit-transform:scale(1.3);
  transform:scale(1.2);
}

.containerImg{
  border-radius: 10rem;
  background: linear-gradient(to right, #24CCAA, #A2DB95);
}
.imgType{
  height: 3rem;
  margin-left: 0.5em;
  margin-right: 0.5em;
}
.letterType{
  border: 2px solid #f1ffee; 
  border-radius: 5rem; 
  color: #f1ffee;
  font-size: 0.8em;
  padding: 5px 5px;
  margin-top: 10px;
  margin-left: 0.3em;
}
.color-type-bug{background: #a3c730; }
.color-type-dark{background: #5f5a6d; }
.color-type-dragon{background: #0868c3; }
.color-type-electric{background: #f4d64e; }
.color-type-fairy{background: #ee97e2; }
.color-type-fighting{background:#cf4066; }
.color-type-fire{background: #ffa551; }
.color-type-flying{background: #a2bbeb; }
.color-type-ghost{background: #5568ae; }
.color-type-grass{background: #5dbb5d; }
.color-type-ground{background: #d77c4d; }
.color-type-ice{background: #75cfc3; }
.color-type-normal{background: #9199a1; }
.color-type-poison{background: #a765c8; }
.color-type-psychic{background: #fa7f7f; }
.color-type-rock{background: #ccbe8e; }
.color-type-steel{background: #54869e; } 
.color-type-water{background: #5193d7; }

footer{
    height: 50px;
    background: linear-gradient(to left, #24CCAA, #A2DB95);
}

.clsButton{
    border-radius:10px;
    padding: 10px;
    background-image: linear-gradient(to left, #24CCAA, #A2DB95);
    color: white;
    cursor: pointer; 
}


/* Modal */

.flex {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* ------------------Modal ------------------*/

.modal {
  width: 100vw;
  height: 100vh;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  background-color: rgba(0,0,0,0.4);
  justify-content: center;
  display: none;
  font-size: 0.4em;
}

.modal-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: relative;
  width: 350px;
  min-height: 520px;
  border-radius: 20px;
  background-color: #F1FFEE;
  top: 90px;
  margin: auto;
}
  
.modal-h3 {
  margin: 5px 0 0 0;
}

.modal-h4 {
  margin: 5px 0 5px 0;
  font-size: 10.5px;
}

.modal__block1 {
  height: 190px;
  position: absolute;
  top: -100px;
}

.txt-modal-title {
  border-bottom: solid 5px #61ECB3;
  font-size: 13px;
  font-weight: 700;
  padding-bottom: 5px;
  margin-bottom: 0px;
}
 
.modalblock-2 {
  position: absolute;
  top: 100px;
}

.modal__block2 {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  max-width: 300px;
  height: 35px;
  border-bottom: solid 0.1px;
  padding-bottom: 8px;
}

.block-2-sub-container {
  padding: 0 10px;
  border-right: solid 1px #847E7E; 
  height: 30px;
}

.block2-p-title {
  font-weight: 700;
  color: #847E7E;
}
.block2-p {
  font-weight: 700;
  font-size: 11px;
}

.modal__block4 {
  display: flex;
  flex-wrap: wrap;
  max-width: 300px;
  flex-direction: row;
  border-bottom: solid 0.1px;
}

.resist-weak-ctn {
  width: 100px;
  padding: 0 10px 5px 10px;
}

.resist-weak-img {
  width: 20px;
  height: 20px;
  padding: 3px;
}
  
.modal__block5 {
  max-width: 300px;
  border-bottom: solid 0.1px;
}
  
.movements-container {
  display: flex;
}
.sub-container-movements {
  padding: 0 5px;
}

.eps-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 5px;
}
.eps-container h4{
  margin-top: 0;
  padding-top: 0;
}


.background-color-movements {
  border-radius: 5px;
  width: 80px;
  color: white;
  margin-bottom: 5px;
  font-size: 11px;
}

.epsMovement {
  display: none;
}

#averageEps{
  display: none;
}
.epsNumber{
  border-radius: 5px;
  width: 40px;
  height: 19px;
  color: white;
  padding-top: 0.3rem;
  margin-bottom: 0.9rem;
  margin-top: 1rem;
  margin-left: 1.8rem;
  font-size: 0.8rem;
  background-color: #eccb21;
}

.btn-eps {
  border-radius: 5px;
  color: white;
  background-image: linear-gradient(to left, #24CCAA, #A2DB95);
}

.bug {
  background-color: #92C12C; 
}

.dark {
  background-color: #626273;
}

.dragon {
 background-color: #0872BE;
}

.electric {
 background-color: #F6D74F;
}

.fairy {
  background-color: #EC98E3;
}

.fight {
  background-color: #D64262;
}

.fire {
  background-color: #FFA551; 
}

.flying {
  background-color: #92ADDF;
}

.ghost {
  background-color: #5A6CB6;
}

.grass {
  background-color: #5DBB5C;
}

.ground {
  background-color: #D77C4D;
}

.ice {
  background-color: #7AD2C7;    
}

.normal {
  background-color: #959DA2;    
}

.poison {
  background-color: #B262CF;    
}

.psychic {
  background-color: #F9767B;    
}

.rock {
  background-color: #CDBE8E;    
}

.steel {
  background-color: #548E9E;    
}

.water {
  background-color: #58A0DA;    
}

.txt-white {
  color: white;
  font-weight: 600;
}
.modal__block6 {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.evolution-each-container {
  margin: 0 10px;   
}

.evolution-img {
  height: 100px;
  width: 100px;
}
  
.evolution-p {
  margin: 0;
  font-weight: 700;
}

.evolution-h4 {
  margin: 0;
}

.modal__block1-img {
  width: 150px;
}
  
.modal__block1-txt {
  font-weight: 600;
  margin: 0px;
  font-size: 12px;
}
  
.modal__h4 {
  font-size:16px;
}
  
.modal__img-egg {
  width: 18px;
  height: 18px;
}

.close {
  color: #aaa;
  font-size: 28px;
  font-weight: bold;
  position: absolute;
  left: 11.3em;
  top: 0.2em;
}

.close:hover,
.close:focus {
  color: #000;
  text-decoration: none;
  cursor: pointer;
}

.container-movements{
  display: flex;
  flex-direction: row;
  justify-content: center;
}

/* selects filters */
.selects-filters-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin: 10px;
}

.select-filter {
  width: 250px;
  background-image: linear-gradient(to left, #24CCAA, #A2DB95);
  color: #3E3939;
  padding: 3px;
  margin-bottom: 3px;
  border-radius: 10px;
  font-weight: 800;
  font-size: 16px;
  text-align-last:center;
  cursor: pointer;
}

.containerMenu{
  background: linear-gradient(to left, #24CCAA, #A2DB95);
  width: 100%;
}
.menuResponsive{
  display: flex;
  justify-content: space-evenly;
}
.containerUlMenu{
  width: 30%;
}
.ulMenu{
  padding-left: 0;
  margin-top: 0;
  margin-bottom: 0;
  list-style: none;
  padding-left: 1em;
  font-size: 1em;
  display: none;
}
.ulMenu li{
  transition: all ease-in .3s;
}
.ulMenu li:hover{
  box-shadow:
  1px 1px #679a75,
  2px 2px #679a75,
  3px 3px #679a75;
  -webkit-transform: translateX(-3px);
  transform: translateX(-3px);
}
li{     
  flex: auto; 
  list-style: none;
}
a{
  color: #3E3939;
  text-decoration: none;
  line-height: 2;
  display: block;
}
a.hover{
  background: rgba(201, 204, 36, 0.534);
}

li a, .dropbtn {
  display: inline-block;
  text-align: center;
  text-decoration: none;
}

li.dropdown {
  display: inline-block;
}
li.dropdown:hover {
  background-color: #a2db95;  
}

.dropdown-content, .dropdownTypePokemon {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 280px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

.dropdown-content a, .dropdownTypePokemon a{
  color: black;
  text-decoration: none;
  display: block;
  text-align: center;
  font-size: 1rem;
}

.dropdown-content a:hover, .dropdownTypePokemon a:hover{
  background-color: #DAF5D4;
}

.dropdown:hover .dropdown-content, .dropdown:hover .dropdownTypePokemon  {
  display: block;
}

#fundWelcomePortal{
  position: fixed;
  left: 0;
  top: 0;
  z-index: 1000;
  width: 100%;
  height: 100%;
  background: url(./img/fondoPortada.png);
  background-repeat: no-repeat;
  background-size: auto 130%;
  background-position-x: center;
  background-position-y: -2rem;
  display: flex;
  justify-content: center;
  align-items: stretch;
  flex-direction: column;

}

#titlePokemon{
  text-align: center;
}
#titlePokemon img {
  width: 90%;
  margin-top: 3rem;
}

.textWelcome{
  padding-top: 0.2rem;
  padding-left: 2rem;
  padding-right: 2rem;
  font-size: 1.3rem;
  text-align: justify;
}
#pokebolaButton{
  text-align: center;
}
#pokebolaButton img{
  width: 50%;
  padding-top: 10px;
  cursor: pointer;
}

@media screen and (min-width : 768px){
  .logoPokemon{ 
    background-size: 20% 70%;
    height: 8.5rem;
  }
  .fundLogoPokemon{
    background-image: url(./img/fondo.png);
    width: 100%;
    background-repeat: no-repeat;
  }
  .containerMenu{
    height: 3rem;
  }
  .ulMenu{
      display: flex;
      width: 100%;
  }
  li{
      text-align: center;
      border-right: 2px solid rgba(62, 57, 57, 0.384);
      
  }
  a{
      padding-left: 0;
  }
  .containerUlMenu{
      width: 60%;
  }
  .containerSearchPokemon{
      width: 25%;
  }
  .containerInput{
      width: 100%;
      padding: 0.5rem 0.5rem;
      margin-top: 0.5em;
      position: relative;
  }
  .iconSearch{
    width: 50px;
    height: 40px;
    margin-top: 0.2em;
    margin-left: 1rem;
  }
  .containerSearchNamePokemon{
    margin-left: 4rem;
    width: 20%;
  }
  #toogleMenu{
    display : none;
  }
  .allPokemons{
    padding-left: 7rem;
    padding-right: 7rem;
  }
  .select-filter{
    padding: 5px;
  }
  #fundWelcomePortal{
    background-size: 100% 100%;
    background-position:inherit;
  }
  #titlePokemon img {
    width: 30%;
  }
  .textWelcome{
    padding-top: 1rem;
    padding-left: 15rem;
    padding-right: 16rem;
    font-size: 1.2rem;
    text-align: justify;
  }
  #pokebolaButton img{
    width: 10%;
  }
}

@media screen and (min-width: 1024px){
  .textWelcome {
      padding-top: 1rem;
      padding-left: 26rem;
      padding-right: 27rem;
      font-size: 1.9rem;
      text-align: justify;
  }
}